p {
  color: #fff; }

a {
  color: #000; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
